/* .header-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 5rem;
  gap: 1rem
}
 */

.header-container {
  display: flex;
  width: 100%;
}

.title {
  width: 55%;
  padding: 2rem;
  font-size: large;
}

.navigation-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  font-size: large;
  gap: 10px;
}
a {
  text-decoration: none;
  color: rgb(184, 184, 184);
}