* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.main {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
.pokedex {
  grid-template-rows: repeat(2, 1fr);
  box-shadow: 17px -14px 5px #caf0f8;
  display: grid;
  height: auto;
  background-color: rgba(0, 118, 182, 0.6);
  border-radius: 15px;
  padding: 1rem;
  width: 30%;
  text-align: center;
}
.poke-info {
  padding-right: 3rem;
  color: #ffff;
}

.pokemon-img {
  max-width: 30%;
  width: 30%;
  height: auto;
  background-color: rgb(128, 128, 128, 0.7);
  justify-self: center;
  border-radius: 99px;
}

.consult {
  padding-left: 6rem;
}
ul {
  list-style-type: none;
}
.button {
  background-color: #3d3d3dc4; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}